/* Main container css */
.maincontainer {
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
}

.maincontainer .left {
  width: 100%;
  margin: 20px;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.maincontainer .left::-webkit-scrollbar {
  display: none;
}

.maincontainer .left .banner .ImgBanner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.maincontainer .left .banner {
  height: 300px;
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(252, 252, 252, 0.408) 0px 6px 12px -2px,
    rgba(227, 225, 225, 0.416) 0px 3px 7px -3px;
}

.maincontainer .left .banner .textContainer {
  position: absolute;
  bottom: 35px;
  left: 20px;
}

.maincontainer .left .banner .textContainer h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #f1f1f1;
  margin: 5px 0;
}

/* .maincontainer .left .banner .textContainer h2 {
  font-size: 2.5rem;
  color: #b1147d;
  margin: 5px 0;
} */

/* .maincontainer .left .banner .textContainer p {
  color: #f1f1f1;
  font-size: 18px;
  margin: 5px 0;
} */

.maincontainer .left .cards {
  background: #49316d8b;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  border-radius: 10px;
}

/* Box element css */
.dashboard {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  padding: 10px;
  width: 100%;
}

.box {
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  border-radius: 8px;
  box-shadow: rgba(251, 251, 251, 0.503) 0px 3px 8px;
  padding: 20px;
  width: 270px;
  height: 200px;
  transition: background-color 0.3s;
  color: white;
  font-family: "Arial", sans-serif;
}
.box:hover {
  background-color:#C75CB0;
}
.switchOn {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.dashboard .box .switchOn {
  color: aliceblue;
}

.box div {
  margin-top: 10px;
  font-size: 18px;
}

.switch {
  position: relative;
  width: 40px;
}

.switch input {
  opacity: 0;
  width: 50px;
  height: 0;
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* WEATHER CUSTOME */
.weather {
  color: #f1f1f1;
  font-size: 18px;
  margin: 5px 0;
}

/* box value */
.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  transition: background-color 0.3s;
  color: white;
  font-family: "Arial", sans-serif;
}

.boxele {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  color: white;
}

.factor {
  font-size: 20px;
  margin-bottom: 10px;
}

.gaugeChart {  
  width: 200px;
  height: 200px;
  margin-top: 10px;
}



